{% comment %}

Modal dialog boxes

{% endcomment %}

<script type="text/javascript">
  $(document).ready(function() {

    $(".incident-change-queue").modalForm({
      formURL: "{% url 'tracker:incident-change-queue' pk=incident.id %}"
    });

    $(".incident-change-owner").modalForm({
      formURL: "{% url 'tracker:incident-change-owner' pk=incident.id %}"
    });

    $(".incident-resolve").modalForm({
      formURL: "{% url 'tracker:incident-resolve' pk=incident.id %}"
    });

  });
</script>
