{% extends 'modals.html' %}
{% load static %}

{% block title %}
Incident {{ incident.id }}: {{ incident.name }}
{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/incident_detail.css' %}">
{% endblock stylesheets %}

{# Remove navbar from page #}
{% block navbar %}
{% endblock navbar %}
{% block navbar_css %}
{% endblock navbar_css %}

{% block content %}
  <!-- Modal form -->
  <div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

      </div>
    </div>
  </div>

<div class="container-fluid">
  <div class="row">

    <!-- Outer left column - 75% -->
    <div class="col-md-9">
      <div class="row">

        <!-- Inner column - 100% of 75% -->
        <div class="col-md-12">
          <div class="card mt-3">
            <div class="card-body">
              <table class="table table-fit table-striped table-sm mt-0 mb-0">
                <thead class="thead-dark">
                  <tr>
                    <th colspan="6">Incident Details: {{ incident.id }}</th>
                  </tr>
                </thead>
                <tr>
                  <th class="table-fit">Subject</th>
                  <td colspan="5">{{ incident.name }}</td>
                </tr>
                <tr>
                  <th class="table-fit">Submitter</th>
                  <td>{{ incident.creator.userprofile.first_name }} {{ incident.creator.userprofile.last_name }}</td>
                  <th>Creation Date</th>
                  <td>{{ incident.created }}</td>
                  <th>Owner</th>
                  <td>{% if incident.owner %}{{ incident.owner.userprofile.first_name }} {{ incident.owner.userprofile.last_name }}{% else %}Not Assigned{% endif %}</td>
                </tr>
                <tr>
                  <th class="table-fit">Affected User</th>
                  <td>{{ incident.creator.userprofile.first_name }} {{ incident.creator.userprofile.last_name }}</td>
                  <th>Modified Date</th>
                  <td>{{ incident.modified }}</td>
                  <th>Queue</th>
                  <td>{{ incident.queue }}</td>
                </tr>
                <tr>
                  <th class="table-fit" >Priority</th>
                  <td>Normal</td>
                  <th>Resolution Date</th>
                  <td>{% if incident.resolved %}{{ incident.resolved }}{% else %}Not Resolved{% endif %}</td>
                  <th>Status</th>
                  <td>{{ incident.get_status_display }}</td>
                </tr>
              </table>
            </div> <!-- /card-body -->
          </div> <!-- /incident details card -->
    
        </div>

        {% if incident.resolution %}
        <!-- Inner column - 100% of 75% -->
        <div class="col-md-12">
          <div class="card mt-3">
            <div class="card-body">
              <table class="table table-sm mt-0 mb-0">
                <thead class="thead-dark">
                  <tr>
                    <th>Resolution</th>
                  </tr>
                </thead>
                <tr>
                  <td class="pb-0">{{ incident.resolution | linebreaksbr }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        {% endif %}

        <!-- Inner column - 100% of 75% -->
        <div class="col-md-12">
          <div class="card mt-3">
            <div class="card-body">
              <table class="table table-sm mt-0 mb-0">
                <thead class="thead-dark">
                  <tr>
                    <th>Description</th>
                  </tr>
                </thead>
                <tr>
                  <td class="pb-0">{{ incident.description | linebreaksbr }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Outer right column - 25% -->
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12">

          <div class="card mt-3">
            <div class="card-body">
              <table class="table table-striped table-sm mt-0 mb-0">
                <thead class="thead-dark">
                  <tr>
                    <th>Placeholder #1</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Placeholder</td>
                  </tr>
                  <tr>
                    <td>Placeholder</td>
                  </tr>
                  <tr>
                    <td>Placeholder</td>
                  </tr>
                  <tr>
                    <td>Placeholder</td>
                  </tr>
                  <tr>
                    <td>Placeholder</td>
                  </tr>
                  <tr>
                    <td>Placeholder</td>
                  </tr>
                </tbody>
              </table>
            </div> <!-- /card body -->
          </div> <!-- /placeholder card -->

          <div class="card mt-3">
            <div class="card-body">
              <h5 class="card-title">Actions</h5>

              {% if incident.status in "SM|EQ|AS|RO" %}
              <button class="incident-change-queue btn btn-dark btn-block" type="button" name="button">Change Queue</button>

              <form action="{% url 'tracker:incident-assign-self' incident.id %}" method="POST" style="margin-top: 0.5rem; margin-bottom: 0.5rem;">
                {% csrf_token %}
                <input type="hidden" name="incident_id" value="{{ incident.id }}">
                <button class="btn btn-dark btn-block" type="submit" name="button">Assign To Me</button>
              </form>

              <button class="incident-change-owner btn btn-dark btn-block" type="button" name="button">Assign To Someone Else</button>

              <button class="incident-resolve btn btn-dark btn-block" type="button" name="button">Resolve Ticket</button>
              {% endif %}

              {% if incident.status in "RS|CL" %}
              <form action="{% url 'tracker:incident-reopen' incident.id %}" method="POST" style="margin-top: 0.5rem; margin-bottom: 0.5rem;">
                {% csrf_token %}
                <input type="hidden" name="incident_id" value="{{ incident.id }}">
                <button class="btn btn-dark btn-block" type="submit" name="button">Reopen Ticket</button>
              </form>
              {% endif %}
            </div> <!-- /card body -->
          </div> <!-- /placeholder card -->

          <div class="card mt-3">
            <div class="card-body">
              <table class="table table-striped table-sm mt-0 mb-0">
                <thead class="thead-dark">
                  <tr>
                    <th>Placeholder #3</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Placeholder</td>
                  </tr>
                  <tr>
                    <td>Placeholder</td>
                  </tr>
                  <tr>
                    <td>Placeholder</td>
                  </tr>
                  <tr>
                    <td>Placeholder</td>
                  </tr>
                </tbody>
              </table>
            </div> <!-- /card body -->
          </div> <!-- /placeholder card -->

        </div>
      </div>
    </div>

  </div>
</div>
{% endblock content %}

{% block javascript %}
{{ block.super }}
{% include 'tracker/incident_detail_modals.html' %}
{% endblock javascript %}