{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>{% block title %}base.html{% endblock %}</title>
    
    {% block stylesheets %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y=" crossorigin="anonymous" />
    {% endblock stylesheets %}

    {% block navbar_css %}
    <!-- Fixed navbar CSS -->
    <link href="{% static 'css/fixed_navbar.css' %}" rel="stylesheet">
    {% endblock navbar_css %}
  </head>

  <body>
    <!-- Navbar Block -->
    <div>
      {% block navbar %}
      {% include "navbar.html" %}
      {% endblock navbar %}
    </div>

    <!-- Messages Block -->
    <div>
      {% if messages %}
        {% for message in messages %}
          <div style="border-radius:0;" {% if message.tags %} class="alert alert-icon alert-{{ message.tags }} alert-dismissible fade show mb-0" role="alert" {% endif %}>
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Dismiss">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      {% endif %}
    </div>

    <!-- Content Block -->
    <div>
      {% block content %}
      <h1>base.html content block</h1>
      {% endblock content %}
    </div>

    {% block javascript %}
    <!-- JQuery JavaScript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Popper JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js" integrity="sha256-/ijcOLwFf26xEYAjW75FizKVo5tnTYiQddPZoLUHHZ8=" crossorigin="anonymous"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha256-WqU1JavFxSAMcLP2WIOI+GB2zWmShMI82mTpLDcqFUg=" crossorigin="anonymous"></script>
    {% endblock javascript %}
  </body>
</html>
