{% load static %}
{% load bootstrap4 %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    {% block title %}
    <title>base.html</title>
    {% endblock %}

    <!-- Bootstrap core CSS -->
    {% bootstrap_css %}

    <!-- Fixed navbar CSS -->
    {% block fixed_navbar_css %}
    <link href="{% static 'css/fixed_navbar.css' %}" rel="stylesheet">
    {% endblock fixed_navbar_css %}
  
    <!-- Custom styles for this template -->
    {% block styles %}
    {% endblock styles %}
  </head>

  <body>
    <div>
      {% block navbar %}
      {% include "navbar.html" %}
      {% endblock navbar %}
    </div>
    <div>
      {% block content %}
      <h1>base.html content block</h1>
      {% endblock content %}
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% bootstrap_javascript %}

    <!-- Custom Javascript for this template -->
    {% block javascript %}
    {% endblock javascript %}
  </body>
</html>
